.mainContainer {
  display:flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #71cff8;
}

.statistics {
  width: 100%; /* This will make the workContainer elements take up the full width of the mainContainer */
  display: flex;
  flex-direction: row; /* This will make the content of the workContainer elements line up horizontally */
  justify-content: space-between; /* This will space the content of the workContainer elements evenly across the width of the workContainer */
}

.center-text {
  text-align: center;
  justify-content: center;
}

.math, .eng {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.mathTitle, .englishTitle {
  font-size: 32px;
  font-weight: bolder;
  color: black;
}

.wkstFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 5%;
}

.subContainer{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100%;
  background-color: #71cff8;
}

.separator {
  height: 1vh;
  width: 100%;
  background-color: black;
  border: none;
}

.deleteButton {
  position: absolute;
  right: -38vw;
  top: 50%;
  transform: translateY(-50%);

}

.signoutButton {
  position: absolute;
  left: -38vw;
  top: 50%;
  transform: translateY(-50%);
}

.signoutButton {
  justify-content: flex-start; /* This will align the signoutButton to the left of its container */
}

.deleteButton {
  justify-content: flex-end; /* This will align the deleteButton to the right of its container */
}

.titleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}


.studentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.workContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;

}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 100%; /* Change the width to 100% to take the full width of the parent */
  align-items: center;
  justify-content: space-between;
}


.smaller {
  font-size: 35px;

}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}
.filterButton {
  height: 48px;
  width: 10vw;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  margin-top: 10%;
  margin-bottom: 10px;

}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.minBox {
  height: 5vh;
  width: 7vw;
  font-size: small;
  border-radius: 8px;
  border: 1px solid grey;
  margin-right: 1vh;
}
.maxBox {
  height: 5vh;
  width: 7vw;
  font-size: small;
  border-radius: 8px;
  border: 1px solid grey;
  margin-left: 1vh;
}
.bottom_button {
  margin-top: 20vh;
}